header {
  height: 130vh;
  padding-top: 7rem;
  overflow: hidden; 
  margin: 7rem; 
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/* ======= CTA ======= */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======= HEADER SOCIALS ======= */
.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======= HER ======= */

.me {
    width: 16rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 8rem);
    margin-top: 5rem;
    border-radius: 12rem 12rem 0 0;
    background: linear-gradient(var(--color-white), transparent);
    overflow: hidden;
    padding: 6rem 2rem 2rem 2rem;
}
 
/* ======= SCROLL DOWN ======= */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ======= RESPONSIVENESS - MEDIA QUERIES - (MEDIUM DEVICES) ======= */

@media screen and (max-width: 1024px) {
    header {
        height: 155vh;
        width: var(--container-width-md);
    }
}

/* ======= RESPONSIVENESS - MEDIA QUERIES - (SMALL DEVICES) ======= */

@media screen and (max-width: 600px) {
    header {
        height: 165vh;
        width: var(--container-width-ms);
    }

    .header_socials, .scroll_down {
        display: none;
    }
}